name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - run:  dotnet --info
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.0
    - run:  dotnet --info      
    - name: Restore dependencies
      run: dotnet restore -s https://api.nuget.org/v3/index.json --verbosity n
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Push generated package to NuGet
      if: github.ref == 'refs/heads/main'
      run: dotnet nuget push ${{env.working-directory}}/src/NW.TimeSeriesForecaster/bin/Release/*.nupkg --skip-duplicate --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
